<div class="aacb-main">

  <!-- TODO: Figure out how to put this in the drupal settings page header
  <div class="aacb-nav-bar">
    <div class="aacb-header">
      <div class="aacb-row aacb-align-center">
        <div class="aacb-col-4"><a href="https://www.allaccessible.org/" target="_blank"><img src="{{ file_url('modules/custom/all_accessible/assets/images/logo.svg') }}" height="41px" alt="AllAccessible Logo"></a></div>
        <div class="aacb-col-8">
          <div class="aacb-card-header-actions">
            <div class="aacb-card-row-actions"><a class="aacb-button aacb-button-outline aacb-button-medium" href="" target="_blank">{{ 'Preview Widget'|t }}</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  -->

  <div class="aacb-app-body">
    <div class="aacb-section aacb-section-dashboard aacb-zero--padding aacb-zero--margin">
      <div class="aacb-row">
        <div class="aacb-col-12">
        </div>
      </div>
      <div class="aacb-section-content">
        <div class="aacb-row">
          <div class="aacb-col-12">
            <div class="aacb-dashboard-overview">
              <div class="aacb-row">
                <div class="aacb-col-4">
                  <div class="aacb-card">
                    <div class="aacb-card-body">
                      <div class="aacb-card-row">
                        <div class="aacb-info-widget-container">
                          <div class="aacb-info-widget">
                            <div class="aacb-info-widget-icon"><img src="{{ file_url('modules/custom/all_accessible/assets/images/bug.svg') }}" height="41px" width="41px" alt="layout"></div>
                            <div class="aacb-info-widget-content"><span class="aacb-info-widget-title">{{ 'Widget Status'|t }}</span><span class="aacb-info-widget-text" style="color: rgb(0, 170, 98);">{{ 'Active'|t }}</span></div>
                            <p class="aacb-info-widget-description">

                              {% if aa_account_id is empty %}
                                {{ 'AllAccessible\'s Free for Drupal widget is visible on the front end of your site.'|t }}
                              {% else %}
                                {{ 'AllAccessible\'s Premium widget is visible on the front end of your site.'|t }}
                              {% endif %}

                            </p>
                            <div class="aacb-card-row-actions">
                              {% set preview_url = path('<front>') ~ '?aacb_preview=true' %}
                              <a class="aacb-button aacb-button-outline aacb-button-medium" href="{{ preview_url }}" target="_blank">{{ 'Preview Widget'|t }}</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="aacb-col-4">
                  <div class="aacb-card">
                    <div class="aacb-card-body">
                      <div class="aacb-card-row">
                        <div class="aacb-info-widget-container">
                          <div class="aacb-info-widget">
                            <div class="aacb-info-widget-icon">
                              <!--https://www.svgrepo.com/collection/carbon-design-line-icons/-->
                              <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" width="41px" height="41px" viewBox="0 0 32 32" id="icon"><defs><style>.cls-1{fill:none;}</style></defs><title>dashboard</title><rect x="24" y="21" width="2" height="5"/><rect x="20" y="16" width="2" height="10"/><path d="M11,26a5.0059,5.0059,0,0,1-5-5H8a3,3,0,1,0,3-3V16a5,5,0,0,1,0,10Z"/><path d="M28,2H4A2.002,2.002,0,0,0,2,4V28a2.0023,2.0023,0,0,0,2,2H28a2.0027,2.0027,0,0,0,2-2V4A2.0023,2.0023,0,0,0,28,2Zm0,9H14V4H28ZM12,4v7H4V4ZM4,28V13H28.0007l.0013,15Z"/><rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/></svg>
                            </div>
                            <div class="aacb-info-widget-content"><span class="aacb-info-widget-title">{{ 'Website Accessibility'|t }}</span><span class="aacb-info-widget-text">{{ 'Audits & Remediation'|t }}</span></div>

                            {% if aa_account_id is empty %}
                              <p class="aacb-info-widget-description"> {{ 'View the results of your website scans, accessibility Remediation and more with AllAccessibile Premium.'|t }} </p>
                              <div class="aacb-card-row-actions"><a class="aacb-button aacb-button-outline aacb-button-medium" href="" disabled> {{ 'Upgrade Now'|t }} </a></div>
                            {% else %}
                              <p class="aacb-info-widget-description"> {{ 'View the results of your website scans in your AllAccessibile Account Dashboard.'|t }} </p>
                              <div class="aacb-card-row-actions"><a class="aacb-button aacb-button-outline aacb-button-medium" href="https://app.allaccessible.org" target="_blank"> {{ 'Accessibility Dashboard'|t }} </a></div>
                            {% endif %}

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="aacb-col-4">
                  <div class="aacb-card">
                    <div class="aacb-card-body">
                      <div class="aacb-card-row">
                        <div class="aacb-info-widget-container">
                          <div class="aacb-info-widget">
                            <div class="aacb-info-widget-icon">
                              <!--https://www.svgrepo.com/svg/503998/question-answer-help -->
                              <svg xmlns="http://www.w3.org/2000/svg" width="41px" height="41px" viewBox="0 0 24 24" fill="none"><path d="M4 21V19.5C4 16.4624 6.46243 14 9.5 14H12.5C15.5376 14 18 16.4624 18 19.5V21M7 21V18M15 21V18M16.5 6L16.8367 5.49493C17.1969 4.95461 17.9371 4.82782 18.4566 5.21745C19.0073 5.63047 19.0645 6.43549 18.5778 6.92224L17.8536 7.64645C17.6272 7.87282 17.5 8.17986 17.5 8.5M17.5 10V10.2M13.8281 4.89801C14.6435 3.74945 15.9842 3 17.5 3C19.9853 3 22 5.01472 22 7.5C22 9.98528 19.9853 12 17.5 12C16.2549 12 15.1279 11.4943 14.3131 10.6771M15 8.00001C15 5.79086 13.2091 4 11 4C8.79086 4 7 5.79086 7 8.00001C7 10.2092 8.79086 12 11 12C11.8312 12 12.6032 11.7465 13.2429 11.3125C14.3033 10.5931 15 9.37794 15 8.00001Z" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.4"/></svg>
                            </div>
                            <div class="aacb-info-widget-content"><span class="aacb-info-widget-title"> {{ 'Need'|t }} </span><span class="aacb-info-widget-text" >  {{ 'Help & Support?'|t }} </span></div>
                            <p class="aacb-info-widget-description"> {{ 'Check our knowledge base for assistance with installation, customization, and more.'|t }} </p>
                            <div class="aacb-card-row-actions"><a class="aacb-button aacb-button-outline aacb-button-medium" href="{{ aa_constants.AACB_SUPPORT }}" target="_blank"> {{ 'Get Support'|t }} </a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- TODO: Figure out what this does in wordpress and see if we want it
        <?php
                $user_id = get_current_user_id();
                $user_info = get_userdata($user_id);
                if (!empty($message)) : ?>
        <div class="message notice <?php echo esc_attr($class); ?>">
          <p><?php echo esc_attr($message); ?></p>
        </div>
        <?php endif; ?>
        -->

        <div class="aacb-card aacb-settings" style="width:100%;" id="siteDetails" name="pluginSettings" data-siteid="<?php echo esc_attr(get_option('aacb_siteID')); ?>">
          <div class="aacb-row">
            <div class="aacb-card-body aacb-col-12">

              {% if aa_account_id is empty %}

                <h3> {{ 'Unlock the Power of AllAccessible Premium'|t }} </h3>
                <p class="lead"> {{ 'Unlock all the benefits of our Ai accessibility automation with a free trial by connecting your AllAccessible account to your email below. Already using the free version? No problem! We\'ll set you up with a free 7-day trial of our premium version. After the trial period, upgrade to the premium version for just $10 a month and enjoy a more accessible digital experience.'|t }}</p>
                <div class="aacb-row" style="min-height:250px;">
                  <div class="aacb-col-6">
                    <p> {{ 'Below are some additional features unlocked with AllAccessible Premium. All for Only $10/mo.'|t }} <br />
                      ✅ {{ 'User Control Panel'|t }}<br />
                      ✅ {{ 'Accessibility Statement'|t }}<br />
                      ✅ {{ 'Widget Customization (Color, Shape, Placement, etc.)'|t }}<br />
                      ✅ {{ 'Ai Accessibility Fixes'|t }}<br />
                      ✅ {{ 'Image Alt Text Generation'|t }}<br />
                      ✅ {{ 'Monthly Accessibility Audits'|t }}<br />
                      ✅ {{ 'Accessibility Accommodation Requests'|t }}<br />
                    </p>
                  </div>
                  <div class="aacb-col-6">
                    <iframe src="https://www.youtube.com/embed/Y7RxL_iM1Tc?rel=0" allowfullscreen="allowfullscreen" sandbox="allow-scripts allow-same-origin allow-popups allow-presentation" class="youtube-player" style="width: 100%; height: 100%;"></iframe>
                  </div>
                </div>
                <p> {{ 'To learn more, visit: https://www.allaccessible.org'|t }} </p>
                <form class="all-accessible-activation-form aacb-form" data-drupal-selector="all-accessible-activation-form" action="/en/admin/config/services/all_accessible" method="post" id="all-accessible-activation-form" accept-charset="UTF-8">
                  <!-- <p>Create a free 7 day trial for <?php //echo get_bloginfo( 'name' ); ?>. All you need to do is verify your email below and hit submit. If you don't have an account, we'll automatically create one for you and email you a confirmation. If you already have an account, we'll add this site to your dashboard. We'll create a 7-day trial for your site.</p> -->
                  <div class="form-group">
                    <label for="aacb_email">{{ "Your Email"|t }} {{ '(Used to manage your Account on '|t }} {{ aa_constants.AACB_NAME }})</label>
                    {{ activation_form.aa_email }}
                    <input type="hidden" name="aacb_url" id="aacb_url" value="url"> <!-- TODO: Figure out what the purpose of this is and remove is unnecessary -->
                  </div>
                  {{ activation_form.form_build_id }}
                  {{ activation_form.form_token }}
                  {{ activation_form.form_id }}
                  {{ activation_form.actions.submit }}
                </form>

              {% else %}

                <h3> {{ 'Plugin Configuration'|t }} </h3>
                <p>{{ url('<front>', {}) }} {{ ' is connected to'|t }} {{ aa_constants.AACB_NAME }} {{ 'with account ID '|t  }} {{ aa_account_id }}</p>
                {% if site_options %}
                  <div class="aacb-row" style="min-height:250px;">
                    <div class="aacb-col-6">
                      <div class="">
                        <div class="aacb_preview-window">
                          <div class="aacb_preview-window__button"></div>
                          <div class="aacb_preview-window__toolbar"></div>
                        </div>
                      </div>
                    </div>
                    <div class="aacb-col-6">
                      <form class="all-accessible-site-options-form aacb-form" data-drupal-selector="all-accessible-site-options-form" action="/en/admin/config/services/all_accessible" method="post" id="all-accessible-site-options-form" accept-charset="UTF-8">
                        <div class="aacb-row form-group">
                          <div class="aacb-col-6">
                            <label for="colorPicker" class="aacb_form-label">{{ 'Choose Widget Color'|t }}</label>
                            {{ site_options_form.widget_color }}
                          </div>

                          <div class="aacb-col-6">
                            <label for="kt_docs_select2_icon" class="aacb_form-label">{{ 'Choose Icon'|t }}</label>
                            {{ site_options_form.widget_icon }}
                          </div>
                        </div>

                        <div class="aacb-row form-group">
                          <div class="aacb-col-6">
                            <label class="mb-2" >{{ 'Choose Widget Size'|t }}</label>
                            {{ site_options_form.widget_size }}
                          </div>
                          <div class="aacb-col-6">
                            <label class="mb-2" for="buttonPosition">{{ 'Choose Widget Position'|t }}</label>
                            {{ site_options_form.widget_position }}
                          </div>
                        </div>
                        <div class="aacb-row form-group">
                          <div class="aacb-col-6">
                            <label class="mb-2">{{ 'Choose Widget Shape'|t }}</label>
                            {{ site_options_form.widget_shape }}
                          </div>
                          <div class="aacb-col-6">
                            <label for="isWhitelabel">{{ 'Hide AllAccessible Branding'|t }}</label>
                            {{ site_options_form.white_label }}
                            {% if site_options.aacb-isWhiteLabel == 'true' %}
                              <p class="aacb-note">{{ 'Note: Hiding the branding will remove the "Powered by AllAccessible" text and logo from the widget.'|t }}</p>
                            {% endif %}
                          </div>
                        </div>
                        {{ site_options_form.form_build_id }}
                        {{ site_options_form.form_token }}
                        {{ site_options_form.form_id }}
                        {{ site_options_form.actions }}
                      </form>
                      <div class="aacb_message" id="aacb_message"></div>
                    </div>
                  </div>
                {% else %}
                  <p>{{ 'You may need to reload this page if your widget options are not visible'|t }}</p>
                {% endif %}

              {% endif %}

            </div>
          </div>
          <div class="aacb-row">
            <p style="padding-top:40px;">
              <strong>{{ aa_constants.AACB_NAME }}</strong> <i>{{ 'Version'|t }} {{ aa_constants.AACB_VERSION }}</i><br />
              {{ 'Need Help'|t }}? <a href="{{ aa_constants.AACB_SUPPORT }}" target="_blank"> {{ 'Contact Us'|t }} </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>